@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62vh;
    background: #c2c2c2;
}

section .runway {
    position: relative;
    width: 300px;
    height: 62vh;
    background: #3d3d3d;
    border-left: 20px solid rgba(0,0,0,0.25);
    border-right: 20px solid rgba(0,0,0,0.25);
    transition: transform 1s;
}

section:active {
    transform: scaleX(0.9);
}

section .runwaypaused {
    position: relative;
    width: 300px;
    height: 62vh;
    background: #3d3d3d;
    border-left: 20px solid rgba(0,0,0,0.25);
    border-right: 20px solid rgba(0,0,0,0.25);
    transition: transform 1s;
}

section .runwaypaused::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 62vh;
    background: repeating-linear-gradient(transparent 0%,transparent 50%,#fff 50%,#fff 100%);
    background-size: 20px 320px;
    animation: animateRunway 0.5s linear infinite paused;
}

section:active .runwaypaused::before {
    animation: animateRunway 0.25s linear infinite paused;
}

section .runway::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 62vh;
    background: repeating-linear-gradient(transparent 0%,transparent 50%,#fff 50%,#fff 100%);
    background-size: 20px 320px;
    animation: animateRunway 0.5s linear infinite;
    /* animation-duration: 5s; */
    /*animation-timing-function: ease-in-out;*/
}

section:active .runway::before {
    animation: animateRunway 0.25s linear infinite;
    /* animation-duration: 5s; */
    /*animation-timing-function: ease-in-out;*/
}

@keyframes animateRunway {
    0% {
        background-position-y: 0px;
    }

    100% {
        background-position-y: 640px;
    }
}

.plane {
    position: absolute;
    bottom: 100px;
    max-width: 250px;
    pointer-events: none;
    filter: drop-shadow(10px 10px 0 rgba(0,0,0,0.5));
    transition: 5s;
}

section:active .plane {
    max-width: 500px;
    filter: drop-shadow(200px 200px 0 rgba(0,0,0,0));
}